@charset "UTF-8";

.bandeira{
    flex-direction: row;
}
.ft-bandeira{
    width: 50%;
}

.ft-bandeira h1{
    left: 40%;
    width: 60%;
  }

.slider-noticias{
    width: 50%;
    height: 600px;
}

.visivel{
    display: none;
  }
.areas{
    gap: 150px;

  }

  
.oculto{
    display: block;
    }

.area-principal{

    flex-direction: row;
    
}
.ft-atuacao{
    height: 700px;
    
    }       

.sobre{
    flex-direction: row;
    }

.sobre-escritorio{
width: 50%;
}

.txt-escritorio{
width: 50%;
}

.sessao-footer{
    gap: 40px;
    justify-content: start;
    flex-direction: row;
  }
  
  .sessao-footer > div{
  margin-top: 25px;
  margin-right: 60px;
  }
  
  .sessao-conquistas{
    height: 200px;
  }
  
  .countainer-principal-counter{
    display: flex;
    justify-content: center;
  }
  
  .links-uteis > li{
    font-size: 1.4em;
    margin: 20px 0px;
  }
  
  .form {
  
    width: 300px;
    font-size: 1.125rem;
  }
  

  

